.navbar-collapse .navbar-nav .nav-link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  align-self: center;
  transition: ease-out 0.2s;
  border-bottom: 2px solid tomato;
}

.navbar-collapse .navbar-nav .nav-link:hover::after {
  width: 100%;
}
