.navbar {
  background-color: aliceblue;
}

.navbar-brand {
  font-family: "Gloria Hallelujah", cursive;
}

.navbar-collapse .navbar-nav .nav-link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  align-self: center;
  transition: ease-out 0.2s;
  border-bottom: 2px solid rgb(255, 79, 173);
}

.navbar-collapse .navbar-nav .nav-link:hover::after {
  width: 100%;
}
