#hero,
#usage,
#signup {
  h2 {
    font-family: "Gloria Hallelujah", cursive;
    line-height: 1.5;
  }

  button {
    color: #ffffff;
    background: rgb(255, 79, 173);
    border-color: rgb(255, 79, 173);
  }

  button:focus {
    outline: 0;
    box-shadow: 0 0 0.2rem #ff149382;
  }
}

#usage {
  code {
    background-color: #ffffa0;
    border-radius: 0.25rem;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

  pre {
    color: inherit;
  }
}
