#hero,
#usage {
  h2 {
    font-family: "Gloria Hallelujah", cursive;
  }

  button {
    color: #ffffff;
    background: rgb(255, 79, 173);
    border-color: rgb(255, 79, 173);
  }

  button:focus {
    outline: 0;
    box-shadow: 0 0 0.2rem #ff149382;
  }
}

#usage {
  code {
    background-color: #f1f1f1;
    border-radius: 0.25rem;
  }

  pre {
    color: inherit;
  }
}
