.signUpForm {
  .form-label-group {
    position: relative;

    input[type="email"] {
      height: 3.125rem;
      padding: 0.75rem;
    }

    input[type="email"] ~ label {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding-left: 0.75rem; // this should be the same as the input
      margin-bottom: 0;
      line-height: 1.5;
      color: #495057;
      pointer-events: none;
      cursor: text;
      border: 1px solid transparent;
      border-radius: 0.25rem;
      transition: all 0.1s ease-in-out;
    }

    input:not(:placeholder-shown) {
      padding-top: 1.25rem;
      padding-bottom: 0.25rem;
    }

    input[type="email"]:not(:placeholder-shown) ~ label {
      top: 0.25rem;
      transform: translateY(0);
      font-size: 12px;
      color: #777;
    }
  }

  button {
    color: #ffffff;
    background: rgb(255, 79, 173);
    border-color: rgb(255, 79, 173);
  }

  button:focus {
    outline: 0;
    box-shadow: 0 0 0.2rem #ff149382;
  }

  button {
    height: 3.125rem;
  }
}
